@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Overpass:wght@100&display=swap');

:root{
  --dark-blue-color: hsl(209, 23%, 22%);
  --very-dark-blue-color-dark-mode: hsl(207, 26%, 17%);
  --very-dark-blue-color-light-mode: hsl(200, 15%, 8%);
  --dark-gray-color-light-mode: hsl(0, 0%, 52%);
  --very-light-gray-color-light-mode: hsl(0, 0%, 98%);
  --white-color: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito Sans', sans-serif;
  background-color: var(--dark-blue-color);
  color: var(--white-color);
  /* background-color: var(--white-color);
  color: var(--dark-blue-color) */
}

.navbar{
  color: var(--white-color);
}

p{
  font-size: 1rem !important;
}


/* MEDIA QUERIES */

@media all and (max-width: 375px) {

  .filtersearch{
    display: block;
  }

  fieldset{
    margin-bottom: 2rem;
    width: 100% !important;
  }

  .fieldset-input{
    width: 100% !important;
    margin: 0 auto;
  }

}
